:root {
  font-family: ff-din-paneuropean, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;
  color: #fafafa;
  background-color: #121212;
  height: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #23373b;
    background-color: #fafafa;
  }
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 40px;
  width: 100%;
  max-width: 720px;
}

:focus-visible {
  outline: 1px solid #fafafa;
  outline-offset: 2px;
}

@media (prefers-color-scheme: light) {
  :focus-visible {
    outline-color: #121212;
  }
}

* {
  box-sizing: border-box;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin: 0 0 0.5em;
}

.tabContainer {
  margin-bottom: 1rem;
}

.tabsList {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
  position: relative;
}

.tab, .button {
  font: inherit;
  min-width: 0;
  max-width: 100%;
  border: 0;
  border-radius: 0;
  height: 2rem;
  padding: 0 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  cursor: pointer;
  color: #fafafa;
  background-color: rgba(250, 250, 250, 0.1);
}

.tab:hover, .button:hover {
  background-color: rgba(250, 250, 250, 0.2);
}

.tab.active, .button.active {
  color: #121212;
}

@media (prefers-color-scheme: light) {
  .tab, .button {
    color: #121212;
    background-color: rgba(18, 18, 18, 0.1);
  }
  
  .tab:hover, .button:hover {
    background-color: rgba(18, 18, 18, 0.2);
  }
  
  .tab.active, .button.active {
    color: #fafafa;
  }
}

.tabIndicator {
  position: absolute;
  z-index: -1;
  left: var(--active-tab-left);
  top: var(--active-tab-top);
  width: var(--active-tab-width);
  height: var(--active-tab-height);
  border-radius: 0;
  height: 1.5rem;
  background-color: #fafafa;
}

@media (prefers-color-scheme: light) {
  .tabIndicator {
    background-color: #121212;
  }
}

.tabPanel {
  display: none;
}

.tabPanel.active {
  display: block;
}

.learningComponent {
  margin: 0 0 0.5em;
}

.video {
  max-width: 100%;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}

.inputControl {
  font: inherit;
  min-width: 240px;
  width: 100%;
  max-width: 100%;
  border: 0;
  border-radius: 0;
  height: 2rem;
  padding: 0 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  caret-color: #fafafa;
  background-color: rgba(250, 250, 250, 0.1);
}

.inputControl:hover {
  background-color: rgba(250, 250, 250, 0.2);
}

@media (prefers-color-scheme: light) {
  .inputControl {
    caret-color: #121212;
    background-color: rgba(18, 18, 18, 0.1);
  }
  
  .inputControl:hover {
    background-color: rgba(18, 18, 18, 0.2);
  }
}
